[user]
    name = James Prior
    email = jprior@pillartechnology.com

[core]
    # for *nix operating systems
    autocrlf = input
    safecrlf = true
    editor = vim

[alias]
    o = checkout
    co = checkout
    ci = commit
    i = commit
    st = status
    s = status
    br = branch
    b = branch
    # only the last lg alias is in effect
    # I rearrange to select whichever one I want
    lg = log --pretty=format:\"%h %ad %s%d [%an]\" --graph --date=short
    lg = log --pretty=format:\"%h %ad %s%Cred%d%Creset [%an]\" --graph --date=iso --color=always
    lg = log --pretty=format:\"%h %ad %s%d [%an]\" --graph --date=iso
    lg = log --pretty=format:\"%h %ad %s%d [%an]\" --graph --date=format-local:'%Y-%m-%d %H:%M:%S'
    type = cat-file -t
    dump = cat-file -p
    df = diff --color
    dw = diff --color --word-diff
    dm = difftool -t meld
    dy = difftool -t meld -y
